Bank_statement_update_inXero.json
{
  "name": "Xero Automation",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.xero.com/connections",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "name": "Get Xero Tenant ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1552,
        416
      ],
      "id": "26aa91aa-e7f7-4413-8942-2d65ab5e619b",
      "credentials": {
        "oAuth2Api": {
          "id": "mhknDi2mGsPcvuFE",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1952,
        416
      ],
      "id": "320c9cf0-8230-4e25-835d-a6c7271ac8d1",
      "name": "Daily 9am Trigger"
    },
    {
      "parameters": {
        "url": "https://api.xero.com/api.xro/2.0/Accounts",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "where",
              "value": "Type==\"BANK\""
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Xero-Tenant-Id",
              "value": "={{ $json.tenantId }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1232,
        416
      ],
      "id": "a8cf9be5-36f4-4cb4-a117-4e8175ea4b73",
      "name": "HTTP Request",
      "credentials": {
        "oAuth2Api": {
          "id": "mhknDi2mGsPcvuFE",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "BankTransactions",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -272,
        416
      ],
      "id": "c7ad4eaf-70de-4f2b-bf8e-c908df4a7f19",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "url": "https://api.xero.com/api.xro/2.0/BankTransactions",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "where",
              "value": "=BankAccount.AccountID=guid(\"{{ $json.AccountID }}\") AND HasAttachments==false AND Status==\"AUTHORISED\" AND Type==\"SPEND\""
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Xero-Tenant-Id",
              "value": "={{ $('Get Xero Tenant ID').item.json.tenantId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -576,
        416
      ],
      "id": "f8a4d7a2-63d0-4bc1-8a4e-8f8d5e8df795",
      "name": "HTTP Request1",
      "credentials": {
        "oAuth2Api": {
          "id": "mhknDi2mGsPcvuFE",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d9d00778-6745-4eb1-af36-e2f2232c00af",
              "leftValue": "={{ $json.DateString }}",
              "rightValue": "={{ $now.minus({ days: 30 }) }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        96,
        416
      ],
      "id": "c3a3f605-a2c7-4cfe-b288-b58df65c6d18",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 200,
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1008,
        432
      ],
      "id": "d56dd5a2-4836-428e-a35a-2603f21cde63",
      "name": "Get many messages1",
      "webhookId": "8fe6a9c6-f001-4306-bf2a-d1ba5b6b4d76",
      "executeOnce": true,
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "mNEcrNelq5SWPJRK",
          "name": "Poauldoc"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert accountant. Your task is to verify if the provided PDF text matches a specific bank transaction from Xero.  \n\nXERO TRANSACTION DATA:\n\nVendor/Contact Name: {{ $('Loop Over Items1').item.json.Contact.Name }}  \n\nTotal Amount: {{ $('Loop Over Items1').item.json.Total }}  \n\nTransaction Date: {{ $('Loop Over Items1').item.json.DateString }}  \n\nEXTRACTED PDF TEXT:\n{{ $json.text }}\n\nINSTRUCTIONS:\n\nCheck if the Total Amount in the PDF (including VAT) matches the Xero Total.  \n\nCheck if the Vendor name in the PDF is logically the same as the Xero Contact.  \n\nIf they match, respond with exactly one word: MATCH.  \n\nIf they do not match, or the data is missing, respond with: NO_MATCH.\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2720,
        320
      ],
      "id": "67a054a3-a649-4de2-ae8a-e50c8ba06010",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2720,
        512
      ],
      "id": "3355efc0-53fe-4e5b-94dd-93bbfaadaf3c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "aa7eLzRQuow3CXXr",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        560,
        416
      ],
      "id": "230f24e9-947e-433a-b03e-c2738c557d70",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "resource": "messageAttachment",
        "operation": "getAll",
        "messageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1344,
        432
      ],
      "id": "a79a18f2-c756-4412-84a4-7fb01c20bf5a",
      "name": "Get many attachments",
      "webhookId": "5721dd6c-7dee-4d9d-9791-183f8d30d532",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "mNEcrNelq5SWPJRK",
          "name": "Poauldoc"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "e9d5e47b-96d1-4cac-89a8-b672819c8a81",
              "leftValue": "={{ $json['@odata.mediaContentType'] }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "432fafd4-c89b-4ac3-a461-aa6daad19979",
              "leftValue": "={{ $json.lastModifiedDateTime }}",
              "rightValue": "={{ $today.minus({ days: 2 }).toFormat(\"yyyy-MM-dd'T'00:00:00'Z'\") }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1680,
        432
      ],
      "id": "54a2fdea-25ca-43b3-a16d-a9d40bd47bed",
      "name": "Filter1"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2384,
        432
      ],
      "id": "f1fb6b8c-a929-4317-9dd0-470d24e96943",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "resource": "messageAttachment",
        "operation": "download",
        "messageId": {
          "__rl": true,
          "value": "={{ $('Get many messages1').item.json.id }}",
          "mode": "id"
        },
        "attachmentId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        2064,
        432
      ],
      "id": "57aaaeeb-b46f-4401-adc9-47eb49dba509",
      "name": "Download an attachment",
      "webhookId": "4d8a6cfa-dc71-4d8b-8e90-e5d1d273ced0",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "mNEcrNelq5SWPJRK",
          "name": "Poauldoc"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0d6e3325-fb1c-42a5-8119-5f288d186a4f",
              "leftValue": "={{ $json.output }}",
              "rightValue": "MATCH",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3168,
        576
      ],
      "id": "f73dab79-134c-4083-906a-cbfeb5daa1fa",
      "name": "If"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.xero.com/api.xro/2.0/BankTransactions/{{ $('Loop Over Items1').item.json.BankTransactionID }}/Attachments/{{ encodeURIComponent($node[\"Download an attachment\"].json.name) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Xero-Tenant-Id",
              "value": "1f61fcad-ead5-4600-9092-e3892d2be2b6"
            },
            {
              "name": "Content-Type",
              "value": "application/pdf"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "={{ $node[\"Download an attachment\"].binary.data }}",
        "options": {
          "response": {
            "response": {}
          },
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3888,
        560
      ],
      "id": "fe81206e-c3af-4ffc-984a-5cfe45cb23c8",
      "name": "Upload the invoice into the Bank Statement",
      "credentials": {
        "oAuth2Api": {
          "id": "mhknDi2mGsPcvuFE",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2240,
        912
      ],
      "id": "a95eeb75-a65c-4922-8bc1-4629cabc6e2c",
      "name": "Wait1",
      "webhookId": "a657518e-0527-4416-a21e-174e3ed84d5d"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1168,
        624
      ],
      "id": "7f51f507-3af3-4964-aad8-1fe4495b165b",
      "name": "Wait2",
      "webhookId": "7039eb5d-5ab4-404a-bd1c-7be3e30f5adb"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Accounts",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -912,
        416
      ],
      "id": "46ff6d11-2887-4eda-9d5f-b9f1ea29800d",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "toRecipients": "Paul@docsprop.com",
        "subject": "Automation Report: Xero Invoice Matching Summary",
        "bodyContent": "=\nThe automation has finished processing the bank transactions for the last 3 days.\n\n\nTotal Transactions Checked: {{ $node[\"Loop Over Items1\"].context.currentIteration + 1 }}\nSuccessfully Uploaded:{{ $node[\"Upload the invoice into the Bank Statement\"].itemCount }}\nUnmatched / Skipped: {{ $node[\"If\"].itemCount(1) }}\nUnmatched Filenames: {{ $node[\"If\"].all(1).map(item => item.json.name).join(', ') }}\n\n\nFor more details on unmatched items, please refer to the internal logs.\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        912,
        160
      ],
      "id": "26c64a29-b969-4e0d-a75b-26ebcabadc63",
      "name": "Send a message",
      "webhookId": "79f53772-7b71-404a-b04f-f86a94e4a851",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "mNEcrNelq5SWPJRK",
          "name": "Poauldoc"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get Xero Tenant ID": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 9am Trigger": {
      "main": [
        [
          {
            "node": "Get Xero Tenant ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages1": {
      "main": [
        [
          {
            "node": "Get many attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many messages1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many attachments": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Download an attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download an attachment": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Upload the invoice into the Bank Statement",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload the invoice into the Bank Statement": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "47299a26-560d-412d-98ce-242b885c6322",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f108996e7f17d5d0c91625e77fdbcaba25225d5df54dd579671877230d8b44b6"
  },
  "id": "9ktMmILZYCN3Ont1",
  "tags": []
}